use Mix.Config

# We don't run a server during test. If one is required,
# you can enable the server option below.
config :empiri_api, EmpiriApi.Endpoint,
  http: [port: 4001],
  server: false

# Print only warnings and errors during test
config :logger, level: :warn

# Configure your database
config :empiri_api, EmpiriApi.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "empiri",
  password: "",
  database: "empiri_test",
  hostname: "localhost",
  pool: Ecto.Adapters.SQL.Sandbox

#Auth0 configuration
config :empiri_api, Auth0,
  client_id: "12345",
  client_secret: "c2VjcmV0"